<!doctype html>

<html>

    {{#> head title=user.alias }}
    <link rel="import" href="/components/iron-form/iron-form.html">
    <link rel="import" href="/components/paper-button/paper-button.html">
    <link rel="import" href="/components/paper-input/paper-input.html">

    <style is="custom-style">
        #save {
            background: var(--primary-color);
            color: var(--dark-theme-text-color);
        }
    </style>
    {{/head}}

    {{#> body}}
    <h1>{{user.alias}}</h1>

    <p><strong><a href="/player/{{user.steamID}}">Profile</a></strong></p>
    <p><strong>Steam ID:</strong> {{user.steamID}}</p>

    <h2>User Settings</h2>
    <form id="user-settings" method="post">
        <input type="hidden" name="type" value="changeSettings">
        <p><paper-input type="text" label="Alias" name="alias" placeholder="thesupremecommander" auto-validate error-message="up to fifteen alphanumeric characters only" pattern="^[A-Za-z0-9_]{1,15}$" value="{{user.alias}}" required></paper-input></p>

        <paper-button raised onclick="save()" id="save">Save</paper-button>
    </form>

    <h2>Restriction History</h2>

    {{#each restrictions}}
        {{toJSON restriction}}
    {{/each}}

    <script>
        function save() {
            document.getElementById('user-settings').submit();
        }
    </script>
    {{/body}}

</html>
