<head>
    {{#if title}}
        <title>{{title}} | {{siteName}}</title>
    {{else}}
        <title>{{siteName}}</title>
    {{/if}}

    <script>
        window.PugChampSettings = {
            siteName: {{{toJSON siteName}}}
        };
    </script>

    <script src="/components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/components/iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import" href="/components/iron-icons/hardware-icons.html">
    <link rel="import" href="/components/iron-icons/iron-icons.html">
    <link rel="import" href="/components/iron-icons/social-icons.html">
    <link rel="import" href="/components/paper-drawer-panel/paper-drawer-panel.html">
    <link rel="import" href="/components/paper-header-panel/paper-header-panel.html">
    <link rel="import" href="/components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="/components/paper-item/paper-icon-item.html">
    <link rel="import" href="/components/paper-menu/paper-menu.html">
    <link rel="import" href="/components/paper-menu/paper-submenu.html">
    <link rel="import" href="/components/paper-menu-button/paper-menu-button.html">
    <link rel="import" href="/components/paper-scroll-header-panel/paper-scroll-header-panel.html">
    <link rel="import" href="/components/paper-styles/paper-styles.html">
    <link rel="import" href="/components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="/components/paper-tooltip/paper-tooltip.html">

    <link rel="import" href="/elements/pugchamp-layout-toggle/pugchamp-layout-toggle.html">
    <link rel="import" href="/elements/pugchamp-theme/theme.html">

    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors">
        body {
            @apply(--paper-font-body1);
            background-attachment: fixed;
            background-image: url(/assets/img/pattern.png);
            background-origin: border-box;
            background-position: left bottom;
            background-repeat: repeat;
            color: var(--dark-theme-text-color);
        }

        a {
            color: inherit;
        }

        h1 {
            @apply(--paper-font-headline);
        }

        h2 {
            @apply(--paper-font-title);
        }

        h3 {
            @apply(--paper-font-subhead);
        }

        pre {
            @apply(--paper-font-code1);
        }

        paper-button {
            background: var(--primary-background-color);
            color: var(--dark-theme-text-color);
        }

        paper-datatable {
            --paper-datatable-row-hover-color: var(--dark-theme-background-color);

            --paper-datatable-column-header: {
                color: var(--dark-theme-text-color);
            };

            --paper-datatable-cell: {
                background: var(--box-background-color);
                color: var(--dark-theme-text-color);
            };

            --paper-datatable-column-header-sorted: {
                color: inherit;
            };
        }

        paper-material {
            background: var(--box-background-color);
        }

        .logo {
            margin-right: 16px;
        }

        .logo img {
            vertical-align: top;
        }

        .app-name {
            @apply(--paper-font-display1);
            margin-right: 16px;
        }

        .toolbar-link {
            display: inline-block;
            height: 40px;
            padding: 8px;
            width: 40px;
        }

        #drawer {
            background: var(--dark-theme-background-color);
        }

        #drawer a, #toolbar a {
            color: inherit;
            text-decoration: inherit;
        }

        #main {
            padding: 16px;
        }
    </style>

    {{> @partial-block }}
</head>
