<paper-toolbar id="toolbar">
    <pugchamp-layout-toggle menu-open="\{{open}}"></pugchamp-layout-toggle>
    <div hidden$="\{{open}}" class="app-name">PugChamp</div>
    <div hidden$="\{{open}}">
        <div class="toolbar-link">
            <a href="/" {{#if home}} target="_blank" {{/if}}>
                <paper-icon-button icon="home" id="toolbar-home"></paper-icon-button>
                <paper-tooltip for="toolbar-home">Home</paper-tooltip>
            </a>
        </div>

        <paper-menu-button id="toolbar-info">
            <paper-icon-button icon="dashboard" class="dropdown-trigger"></paper-icon-button>

            <paper-menu class="dropdown-content">
                <a href="/players" {{#if home}} target="_blank" {{/if}}>
                    <paper-icon-item>
                        <iron-icon icon="social:people" item-icon></iron-icon> Players
                    </paper-icon-item>
                </a>

                <a href="/games" {{#if home}} target="_blank" {{/if}}>
                    <paper-icon-item>
                        <iron-icon icon="hardware:gamepad" item-icon></iron-icon> Games
                    </paper-icon-item>
                </a>
            </paper-menu>
        </paper-menu-button>
        <paper-tooltip for="toolbar-info">Info</paper-tooltip>

        {{#if pages}}
        <paper-menu-button id="toolbar-links">
            <paper-icon-button icon="link" class="dropdown-trigger"></paper-icon-button>

            <paper-menu class="dropdown-content">
                {{#each pages}}
                <a href="{{url}}" {{#if ../home}} target="_blank" {{/if}}>
                    <paper-icon-item>
                        <iron-icon icon="{{icon}}" item-icon></iron-icon> {{title}}
                    </paper-icon-item>
                </a>
                {{/each}}
            </paper-menu>
        </paper-menu-button>
        <paper-tooltip for="toolbar-links">Links</paper-tooltip>
        {{/if}}

        {{#if currentUser}}
        <paper-menu-button>
            <paper-icon-button icon="social:person" class="dropdown-trigger" id="toolbar-user"></paper-icon-button>
            <paper-tooltip for="toolbar-user">User</paper-tooltip>

            <paper-menu class="dropdown-content">
                <a href="/player/{{currentUser.steamID}}" {{#if home}} target="_blank" {{/if}}>
                    <paper-icon-item>
                        <iron-icon icon="account-box" item-icon></iron-icon> Profile
                    </paper-icon-item>
                </a>

                <a href="/user/settings" {{#if home}} target="_blank" {{/if}}>
                    <paper-icon-item>
                        <iron-icon icon="settings" item-icon></iron-icon> Settings
                    </paper-icon-item>
                </a>

                <a href="/user/logout">
                    <paper-icon-item>
                        <iron-icon icon="lock" item-icon></iron-icon> Sign Out
                    </paper-icon-item>
                </a>
            </paper-menu>
        </paper-menu-button>
        <paper-tooltip for="toolbar-user">User</paper-tooltip>
        {{else}}
        <a href="/user/login">
            <paper-icon-button icon="lock-open" id="toolbar-login"></paper-icon-button>
            <paper-tooltip for="toolbar-login">Login</paper-tooltip>
        </a>
        {{/if}}
    </div>

    <div class="flex"></div>

    {{#if home}}
    <pugchamp-admin-request></pugchamp-admin-request>
    {{/if}}
</paper-toolbar>
