<!doctype html>

<html>

    {{#> head title="Game Details" }}
    <link rel="import" href="/components/iron-icons/iron-icons.html">
    <link rel="import" href="/components/paper-button/paper-button.html">
    <link rel="import" href="/components/paper-item/paper-item.html">
    <link rel="import" href="/components/paper-item/paper-icon-item.html">
    <link rel="import" href="/components/paper-styles/color.html">
    <link rel="import" href="/components/paper-styles/default-theme.html">

    {{#if ../currentUser.admin}}
    <link rel="import" href="/elements/pugchamp-admin-control/pugchamp-admin-game-control.html">
    {{/if}}
    <link rel="import" href="/elements/pugchamp-theme/role-icons.html">

    <style is="custom-style">
        #game {
            background: var(--box-background-color);
        }

        #details {
            text-align: center;
        }

        #details img {
            max-width: 100%;
        }

        .link {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }

        .header {
            line-height: 48px;
            padding: 10px;
        }

        .header .name {
            font-size: 48px;
            font-weight: 500;
        }

        .header .name a {
            color: inherit;
            text-decoration: none;
        }

        .header .score {
            font-size: 54px;
            font-weight: 600;
            margin: 0 10px;
            text-align: center;
        }

        .faction {
            color: var(--dark-theme-text-color);
        }

        #faction-BLU .header {
            background: var(--team-blu-color);
        }

        #faction-BLU .role {
            background: var(--team-blu-color);
        }

        #faction-BLU .player {
            background: var(--team-blu-color);
        }

        #faction-RED .header {
            background: var(--team-red-color);
        }

        #faction-RED .role {
            background: var(--team-red-color);
        }

        #faction-RED .player {
            background: var(--team-red-color);
        }

        .player {
            min-height: inherit;
            height: 32px;
        }

        .player.replaced {
            color: var(--dark-theme-background-color);
        }

        .player a {
            color: inherit;
            text-decoration: none;
        }
    </style>
    {{/head}}

    {{#> body}}

    <paper-material id="game" class="horizontal layout">
        <div class="flex-3 faction" id="faction-{{game.teams.[0].faction}}">
            <div class="header horizontal layout">
                <div class="name flex vertical layout center-justified">
                    {{#unless hideCaptains}}
                    <a href="/player/{{game.teams.[0].captain.steamID}}">{{game.teams.[0].captain.alias}}</a>
                    {{else}}
                    {{game.teams.[0].faction}}
                    {{/unless}}
                </div>
                {{#if game.score.[0] includeZero=true}}
                <div class="score vertical layout center-justified">
                    <span>{{game.score.[0]}}</span>
                </div>
                {{/if}}
            </div>
            {{#each game.teams.[0].composition as |role|}}
                <paper-icon-item class="role">
                    <iron-icon icon="pugchamp-role:{{role.role.id}}" item-icon></iron-icon>
                    <div class="role-name flex"><h2>{{role.role.name}}</h2></div>
                </paper-icon-item>
                {{#each role.players as |player|}}
                    <paper-icon-item class="player {{#if player.replaced}}replaced{{/if}}">
                        <div class="flex"><a href="/player/{{player.user.steamID}}" target="_blank">{{player.user.alias}}</a></div>
                        {{#unless hideRatings}}
                        {{#if player.rating}}
                        <div>{{round player.rating.rating 0}} &plusmn;{{round player.rating.deviation 0}} ({{ratingChange player.rating.change}})</div>
                        {{/if}}
                        {{/unless}}
                    </paper-icon-item>
                {{/each}}
            {{/each}}
        </div>
        <div class="flex-2" id="details">
            <img src="/assets/img/maps/{{game.map.image}}">
            <br>
            <p>
                <strong>Time</strong>: <span id="date">{{momentFormat game.date}}</span>
                <br>
                <strong>Status</strong>: {{game.status}}
            </p>

            <p>
                <strong>Map</strong>: {{game.map.name}}
                {{#if game.duration includeZero=true}}
                <br>
                <strong>Duration</strong>: {{gameDuration game.duration}}
                {{/if}}
            </p>

            {{#if (canWatchGame game.status game.server.watch)}}
                <p><a href="{{game.server.watch}}"><paper-button raised class="link">Watch</paper-button></a></p>
            {{/if}}

            <p>
                {{#each game.links}}
                    <a href="{{url}}"><paper-button raised class="link">{{type}}</paper-button></a>
                {{/each}}
            </p>

            {{#if currentUser.admin}}
            <pugchamp-admin-game-control game="{{toJSON game}}"></pugchamp-admin-game-control>
            {{/if}}
        </div>
        <div class="flex-3 faction" id="faction-{{game.teams.[1].faction}}">
            <div class="header horizontal layout">
                <div class="name flex vertical layout center-justified">
                    {{#unless hideCaptains}}
                    <a href="/player/{{game.teams.[1].captain.steamID}}">{{game.teams.[1].captain.alias}}</a>
                    {{else}}
                    {{game.teams.[1].faction}}
                    {{/unless}}
                </div>
                {{#if game.score.[1] includeZero=true}}
                <div class="score vertical layout center-justified">
                    <span>{{game.score.[1]}}</span>
                </div>
                {{/if}}
            </div>
            {{#each game.teams.[1].composition as |role|}}
                <paper-icon-item class="role">
                    <iron-icon icon="pugchamp-role:{{role.role.id}}" item-icon></iron-icon>
                    <div class="role-name flex"><h2>{{role.role.name}}</h2></div>
                </paper-icon-item>
                {{#each role.players as |player|}}
                    <paper-icon-item class="player {{#if player.replaced}}replaced{{/if}}">
                        <div class="flex"><a href="/player/{{player.user.steamID}}" target="_blank">{{player.user.alias}}</a></div>
                        {{#unless hideRatings}}
                        {{#if player.rating}}
                        <div>{{round player.rating.rating 0}} &plusmn;{{round player.rating.deviation 0}} ({{ratingChange player.rating.change}})</div>
                        {{/if}}
                        {{/unless}}
                    </paper-icon-item>
                {{/each}}
            {{/each}}
        </div>
    </paper-material>

    <script src="/components/moment/moment.js"></script>
    <script>
        document.addEventListener('load', function() {
            var date = document.getElementById('date');

            date.textContent = moment.utc(date.textContent).local().format('llll');
        });
    </script>
    {{/body}}

</html>
