<!doctype html>

<html>

    {{#> head title=user.alias }}
    <link rel="import" href="/components/google-chart/google-chart.html">
    <link rel="import" href="/components/iron-form/iron-form.html">
    <link rel="import" href="/components/paper-button/paper-button.html">
    <link rel="import" href="/components/paper-checkbox/paper-checkbox.html">
    <link rel="import" href="/components/paper-datatable/paper-datatable.html">
    <link rel="import" href="/components/paper-input/paper-input.html">
    <link rel="import" href="/components/paper-styles/color.html">

    <link rel="import" href="/elements/pugchamp-admin-control/pugchamp-admin-restriction-control.html">
    <link rel="import" href="/elements/pugchamp-game-summary/pugchamp-game-summary.html">

    <style is="custom-style">
        .button {
            color: inherit;
            text-decoration: none;
        }

        .action {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }

        .link {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }

        #steam {
            background: var(--paper-grey-900);
            color: var(--dark-theme-text-color);
        }

        #rating-history {
            width: 100%;
        }
    </style>
    {{/head}}

    {{#> body}}
    <h1>
        {{#each user.groups}}
        <span>
            <iron-icon icon="{{icon}}"></iron-icon>
            <paper-tooltip>{{item.name}}</paper-tooltip>
        </span>
        {{/each}}
        {{user.alias}}
    </h1>

    <a class="button" href="https://steamcommunity.com/profiles/{{user.steamID}}"><paper-button class="link" id="steam" raised>Steam Profile</paper-button></a>
    <a class="button" href="http://logs.tf/profile/{{user.steamID}}"><paper-button class="link" raised>Logs.tf Profile</paper-button></a>
    <a class="button" href="https://demos.tf/profiles/{{user.steamID}}"><paper-button class="link" raised>demos.tf Profile</paper-button></a>

    {{#unless hideRatings}}
    <p><strong>Player Rating:</strong> {{user.stats.rating.mean}}&plusmn;{{user.stats.rating.deviation}} ({{user.stats.rating.low}}&ndash;{{user.stats.rating.high}})</p>

    <p>
        <strong>Player Score:</strong>

        {{#if user.stats.playerScore}}
        {{#if user.stats.playerScore.center}}
        {{user.stats.playerScore.center}}
        {{else}}
        N/A
        {{/if}}
        {{else}}
        N/A
        {{/if}}
    </p>

    {{#unless hideCaptains}}
    <p>
        <strong>Captain Score:</strong>

        {{#if user.stats.captainScore}}
        {{#if user.stats.captainScore.center}}
        {{user.stats.captainScore.center}}
        {{else}}
        N/A
        {{/if}}
        {{else}}
        N/A
        {{/if}}
    </p>
    {{/unless}}
    {{/unless}}

    {{#if user.stats.draft}}
    <h2>Draft Stats</h2>

    <google-chart id="draft-stats" type="pie"></google-chart>
    {{/if}}

    <h2>Role Stats</h2>

    <google-chart id="role-stats" type="pie"></google-chart>

    {{#unless hideRatings}}
    <h2>Rating History</h2>

    <google-chart id="rating-history" type="line"></google-chart>
    {{/unless}}

    <h2>Games</h2>

    {{#each games}}
        <pugchamp-game-summary game="{{toJSON this}}" {{#if ../hideCaptains}}hide-captains{{/if}}></pugchamp-game-summary>
    {{/each}}

    {{#if currentUser.admin}}
    <h2>User Settings</h2>

    <form is="iron-form" method="post" action="/admin/user/{{user.id}}">
        <input type="hidden" name="type" value="changeSettings">
        <p><paper-input type="text" label="Alias" name="alias" placeholder="thesupremecommander" auto-validate error-message="up to fifteen alphanumeric characters only" pattern="^[A-Za-z0-9_]{1,15}$" value="{{user.alias}}" required></paper-input></p>

        {{#unless hideDraftStats}}
        <template is="dom-bind" id="show-draft-stats">
            <p>
                <paper-checkbox value="1" checked="\{{showDraftStats}}">Show Draft Stats</paper-checkbox>
                <input type="hidden" name="showDraftStats" value="1" disabled$="\{{!showDraftStats}}">
            </p>
        </template>
        {{/unless}}

        <paper-button raised onclick="submit(event)" class="action">Save</paper-button>
    </form>

    <h2>Restrictions</h2>

    <pugchamp-admin-restriction-control user="{{toJSON user}}" restrictions="{{toJSON restrictions}}" restriction-durations="{{toJSON restrictionDurations}}"></pugchamp-admin-restriction-control>
    {{/if}}

    <script>
        function submit(e) {
            Polymer.dom(e).rootTarget.parentElement.submit();
        }

        {{#if currentUser.admin}}
        {{#unless hideDraftStats}}
        var showDraftStats = document.getElementById('show-draft-stats');
        showDraftStats.addEventListener('dom-change', function() {
            showDraftStats.showDraftStats = {{#if user.stats.draft}}true{{else}}false{{/if}};
        });
        {{/unless}}
        {{/if}}

        {{#if user.stats.draft}}
        var draftStats = document.getElementById('draft-stats');
        draftStats.cols = [{type: 'string', label: 'Outcome'}, {type: 'number', label: 'Occurrences'}]
        draftStats.rows = [{{#each user.stats.draft}}{{{draftStatToRow this}}},{{/each}}];
        draftStats.options = {
            backgroundColor: 'transparent',
            chartArea: {
                height: '80%',
                width: '100%'
            },
            legend: {
                position: 'bottom',
                textStyle: {
                    color: '#f5e7de'
                }
            }
        };
        {{/if}}

        var roleStats = document.getElementById('role-stats');
        roleStats.cols = [{type: 'string', label: 'Role'}, {type: 'number', label: 'Games'}]
        roleStats.rows = [{{#each user.stats.roles}}{{{roleStatToRow this}}},{{/each}}];
        roleStats.options = {
            backgroundColor: 'transparent',
            chartArea: {
                height: '80%',
                width: '100%'
            },
            legend: {
                position: 'bottom',
                textStyle: {
                    color: '#f5e7de'
                }
            }
        };

        {{#unless hideRatings}}
        var ratingHistory = document.getElementById('rating-history');
        ratingHistory.cols = [{type: 'datetime', label: 'Date'}, {type: 'number', label: 'Rating'}, {type: 'number', role: 'interval'}, {type: 'number', role: 'interval'}]
        ratingHistory.rows = [{{#each ratings}}{{{ratingStatToRow this}}},{{/each}}];
        ratingHistory.options = {
            backgroundColor: 'transparent',
            chartArea: {
                height: '80%',
                width: '80%'
            },
            colors: ['#e2b913'],
            explorer: {
                axis: 'horizontal',
                keepInBounds: true
            },
            hAxis: {
                baselineColor: '#bcbcbc',
                gridlines: {
                    color: '#bcbcbc'
                },
                textStyle: {
                    color: '#f5e7de'
                },
                title: 'Date',
                titleTextStyle: {
                    color: '#f5e7de'
                }
            },
            legend: 'none',
            vAxis: {
                baselineColor: '#bcbcbc',
                gridlines: {
                    color: '#bcbcbc'
                },
                textStyle: {
                    color: '#f5e7de'
                },
                title: 'Rating',
                titleTextStyle: {
                    color: '#f5e7de'
                }
            }
        };
        {{/unless}}
    </script>

    {{/body}}

</html>
