<!doctype html>

<html>

    {{#> head title=user.alias }}
    <link rel="import" href="/components/google-chart/google-chart.html">
    <link rel="import" href="/components/paper-button/paper-button.html">

    <style is="custom-style">
        .match {
            margin: 5px;
        }

        .match > div {
            padding: 10px;
        }

        .status {
            text-align: center;
        }

        .details {
            text-align: center;
        }

        .team .captain {
            font-size: 21px;
            font-weight: 500;
        }

        .team .score {
            font-size: 28px;
            font-weight: 600;
            margin: 0 10px;
            text-align: center;
        }

        .team.team-0 .captain {
            margin-right: 10px;
            text-align: right;
        }

        .team.team-1 .captain {
            margin-left: 10px;
            text-align: left;
        }

        .team.faction-BLU {
            background: var(--paper-red-500);
            color: var(--paper-grey-300);
            opacity: var(--light-primary-opacity);
        }

        .team.faction-RED {
            background: var(--paper-blue-500);
            color: var(--paper-grey-300);
            opacity: var(--light-primary-opacity);
        }

        #steam {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }

        #ratingHistory {
            width: 100%;
        }
    </style>
    {{/head}}

    {{#> body}}
    <h1>{{user.alias}}</h1>

    <a href="https://steamcommunity.com/profiles/{{user.steamID}}"><paper-button>Steam Profile</paper-button></a>
	<a href="http://logs.tf/profile/{{user.steamID}}"><paper-button>Logs.tf Profile</paper-button></a>

    <p>
        <strong>Player Rating:</strong>

        {{#if user.currentRating}}
            {{round user.currentRating.after.rating 0}} &plusmn;{{round user.currentRating.after.deviation 0}}
        {{else}}
            N/A
        {{/if}}
    </p>

    <p>
        <strong>Captain Score:</strong>

        {{#if user.captainScore.low}}
            {{round user.captainScore.low 3}}
        {{else}}
            N/A
        {{/if}}
    </p>

    {{#if user.options.showDraftStats}}
    <h2>Draft Stats</h2>

    <google-chart id="draftStats" type="pie"></google-chart>
    {{/if}}

    <h2>Rating History</h2>

    <google-chart id="ratingHistory" type="line"></google-chart>

    <h2>Games</h2>

    {{#each games}}
        <paper-material class="match horizontal layout">
            <div class="status flex vertical layout center center-justified">
                <a href="/game/{{id}}">{{momentFromNow date}}</a>
                <span>{{status}}</span>
            </div>
            <div class="team team-0 {{#if teams.[0].faction}}faction-{{teams.[0].faction}}{{/if}} flex-3 horizontal layout">
                <div class="captain flex vertical layout center-justified">
                    <span>{{teams.[0].captain.alias}}</span>
                </div>
                {{#if score.[0]}}
                    <div class="score vertical layout center-justified">
                        <span>{{score.[0]}}</span>
                    </div>
                {{/if}}
            </div>
            <div class="details flex vertical layout center center-justified">
                <span>{{map.name}}</span>
            </div>
            <div class="team team-1 {{#if teams.[1].faction}}faction-{{teams.[1].faction}}{{/if}} flex-3 horizontal layout">
                {{#if score.[1]}}
                    <div class="score vertical layout center-justified">
                        <span>{{score.[1]}}</span>
                    </div>
                {{/if}}
                <div class="captain flex vertical layout center-justified">
                    <span>{{teams.[1].captain.alias}}</span>
                </div>
            </div>
        </paper-material>
    {{/each}}

    <script>
        {{#if user.options.showDraftStats}}
        var draftStats = document.getElementById('draftStats');
        draftStats.cols = [{type: 'string', label: 'Outcome'}, {type: 'number', label: 'Occurrences'}]
        draftStats.rows = {{toJSON draftStats}};
        {{/if}}

        var ratingHistory = document.getElementById('ratingHistory');
        ratingHistory.cols = [{type: 'datetime', label: 'Date'}, {type: 'string', role: 'tooltip'}, {type: 'number', label: 'Rating'}, {type: 'number', role: 'interval'}, {type: 'number', role: 'interval'}]
        ratingHistory.rows = [{{#each ratings}}[new Date('{{date}}'), '<a href="/game/{{game}}">Game</a>', {{mean}}, {{lowerBound}}, {{upperBound}}],{{/each}}];
        ratingHistory.options = {tooltip: {isHtml: true}};
    </script>

    {{/body}}

</html>
