<!doctype html>

<html>

    {{#> head title="Players"}}
    <link rel="import" href="/components/google-chart/google-chart.html">
    <link rel="import" href="/components/paper-datatable/paper-datatable.html">

    <style is="custom-style">
        #ratings {
            height: 75vh;
            width: 75vh;
        }
    </style>
    {{/head}}

    {{#> body}}
    <h1>Players</h1>

    {{#unless hideRatings}}
    <google-chart id="ratings" type="scatter"></google-chart>
    {{/unless}}

    <paper-datatable data="{{toJSON players}}" id="players">
        <paper-datatable-column header="Player" property="alias" type="String" sortable>
            <template>
                <template is="dom-repeat" items="\{{item.groups}}">
                    <span>
                        <iron-icon icon="\{{item.icon}}"></iron-icon>
                        <paper-tooltip>\{{item.name}}</paper-tooltip>
                    </span>
                </template>
                \{{value}}
            </template>
        </paper-datatable-column>
        <paper-datatable-column header="Steam ID" property="steamID" type="String"></paper-datatable-column>
        {{#unless hideRatings}}
        <paper-datatable-column header="Rating" property="ratingMean" type="Number" sortable>
            <template>
                \{{item.ratingMean}}&plusmn;\{{item.ratingDeviation}} (\{{item.ratingLowerBound}}&ndash;\{{item.ratingUpperBound}})
            </template>
        </paper-datatable-column>
        <paper-datatable-column header="Player Score" property="playerScore" type="Number" sortable>
            <template>
                \{{value}}
            </template>
        </paper-datatable-column>
        {{#unless hideCaptains}}
        <paper-datatable-column header="Captain Score" property="captainScore" type="Number" sortable>
            <template>
                \{{value}}
            </template>
        </paper-datatable-column>
        {{/unless}}
        {{/unless}}
    </paper-datatable>

    <script>
        {{#unless hideRatings}}
        var ratings = document.getElementById('ratings');
        ratings.cols = [{type: 'number', label: 'Deviation'}, {type: 'number', label: 'Rating'}, {type: 'string', role: 'tooltip'}]
        ratings.rows = [{{#each players}}[{{ratingDeviation}}, {{ratingMean}}, '{{alias}}'],{{/each}}];
        ratings.options = {
            backgroundColor: 'transparent',
            chartArea: {
                height: '80%',
                width: '80%'
            },
            colors: ['#e2b913'],
            explorer: {},
            hAxis: {
                baselineColor: '#bcbcbc',
                direction: -1,
                gridlines: {
                    color: '#bcbcbc'
                },
                maxValue: 500,
                minValue: 0,
                textStyle: {
                    color: '#f5e7de'
                },
                title: 'Deviation',
                titleTextStyle: {
                    color: '#f5e7de'
                },
                viewWindowMode: 'maximized'
            },
            legend: 'none',
            title: 'Rating Distribution',
            titleTextStyle: {
                color: '#f5e7de'
            },
            vAxis: {
                baselineColor: '#bcbcbc',
                gridlines: {
                    color: '#bcbcbc'
                },
                maxValue: 3000,
                minValue: 0,
                textStyle: {
                    color: '#f5e7de'
                },
                title: 'Rating',
                titleTextStyle: {
                    color: '#f5e7de'
                },
                viewWindowMode: 'maximized'
            }
        };
        {{/unless}}

        document.getElementById('players').addEventListener('row-tap', function(event) {
            window.location = '/player/' + event.detail.item.steamID;
        });
    </script>
    {{/body}}

</html>
