<!doctype html>

<html>

    {{#> head title=user.alias }}
    <link rel="import" href="/components/google-chart/google-chart.html">
    <link rel="import" href="/components/iron-form/iron-form.html">
    <link rel="import" href="/components/paper-button/paper-button.html">
    <link rel="import" href="/components/paper-checkbox/paper-checkbox.html">
    <link rel="import" href="/components/paper-datatable/paper-datatable.html">
    <link rel="import" href="/components/paper-input/paper-input.html">
    <link rel="import" href="/components/paper-styles/color.html">

    <link rel="import" href="/elements/pugchamp-game-summary/pugchamp-game-summary.html">

    <style is="custom-style">
        .button {
            color: inherit;
            text-decoration: none;
        }

        .action {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }

        .link {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }

        #steam {
            background: var(--paper-grey-900);
            color: var(--dark-theme-text-color);
        }

        #ratingHistory {
            width: 100%;
        }
    </style>
    {{/head}}

    {{#> body}}
    <h1>{{user.alias}}</h1>

    <a class="button" href="https://steamcommunity.com/profiles/{{user.steamID}}"><paper-button class="link" id="steam" raised>Steam Profile</paper-button></a>
	<a class="button" href="http://logs.tf/profile/{{user.steamID}}"><paper-button class="link" raised>Logs.tf Profile</paper-button></a>

    <p>
        <strong>Player Rating:</strong>

        {{#if user.currentRating}}
            {{round user.currentRating.after.rating 0}} &plusmn;{{round user.currentRating.after.deviation 0}}
        {{else}}
            N/A
        {{/if}}
    </p>

    <p>
        <strong>Captain Score:</strong>

        {{#if user.captainScore.low}}
            {{round user.captainScore.low 3}}
        {{else}}
            N/A
        {{/if}}
    </p>

    {{#if user.options.showDraftStats}}
    <h2>Draft Stats</h2>

    <google-chart id="draftStats" type="pie"></google-chart>
    {{/if}}

    <h2>Rating History</h2>

    <google-chart id="ratingHistory" type="line"></google-chart>

    <h2>Games</h2>

    {{#each games}}
        <pugchamp-game-summary game="{{toJSON this}}"></pugchamp-game-summary>
    {{/each}}

    {{#if currentUser.admin}}
    <h2>User Settings</h2>

    <form is="iron-form" method="post" action="/admin/user/{{user.id}}">
        <input type="hidden" name="type" value="changeSettings">
        <p><paper-input type="text" label="Alias" name="alias" placeholder="thesupremecommander" auto-validate error-message="up to fifteen alphanumeric characters only" pattern="^[A-Za-z0-9_]{1,15}$" value="{{user.alias}}" required></paper-input></p>

        <paper-button raised onclick="submit(event)" class="action">Save</paper-button>
    </form>

    <h2>Restrictions</h2>

    <form is="iron-form" method="post" action="/admin/user/{{user.id}}">
        <input type="hidden" name="type" value="createRestriction">

        <p>
            <label>Restrictions:</label>
            <paper-checkbox name="aspects" value="sub">sub</paper-checkbox>
            <paper-checkbox name="aspects" value="start">start</paper-checkbox>
            <paper-checkbox name="aspects" value="captain">captain</paper-checkbox>
            <paper-checkbox name="aspects" value="chat">chat</paper-checkbox>
            <paper-checkbox name="aspects" value="support">support</paper-checkbox>
        </p>
        <p><paper-input type="text" label="Reason" name="reason" placeholder="being the worst medic in TF2 history"></paper-input></p>
        <p><label>Expires:</label> <input type="datetime-local" label="Expires" name="expires"></input></p>

        <paper-button raised class="action" onclick="submit(event)">Create</paper-button>
    </form>

    <h3>History</h3>

    <paper-datatable data="{{toJSON restrictions}}">
        <paper-datatable-column header="Active" property="active" type="Boolean" sortable></paper-datatable-column>
        <paper-datatable-column header="Aspects" property="aspects" type="Array">
            <template>
                <ul>
                    <template is="dom-repeat" items="\{{value}}">
                        <li>\{{item}}</li>
                    </template>
                </ul>
            </template>
        </paper-datatable-column>
        <paper-datatable-column header="Reason" property="reason">
            <template>
                \{{value}}
            </template>
        </paper-datatable-column>
        <paper-datatable-column header="Expiration" property="expires" type="Date" sortable>
            <template>
                <template is="dom-if" if="\{{value}}">
                    \{{value}}
                </template>
                <template is="dom-if" if="\{{!value}}">
                    never
                </template>
            </template>
        </paper-datatable-column>
        <paper-datatable-column header="Action">
            <template>
                <template is="dom-if" if="\{{item.active}}">
                    <paper-button class="action" onclick$="revokeRestriction('\{{item.id}}')" raised>Revoke</paper-button>
                </template>
            </template>
        </paper-datatable-column>
    </paper-datatable>

    <form is="iron-form" method="post" action="/admin/user/{{user.id}}" id="revoke-restriction">
        <input type="hidden" name="type" value="revokeRestriction">
        <input type="hidden" name="restriction" id="restriction-to-revoke">
    </form>
    {{/if}}

    <script>
        function revokeRestriction(id) {
            document.getElementById('restriction-to-revoke').value = id;
            document.getElementById('revoke-restriction').submit();
        }

        function submit(e) {
            Polymer.dom(e).rootTarget.parentElement.submit();
        }

        document.addEventListener('iron-form-response', function() {
            document.location.reload();
        });

        document.addEventListener('iron-form-error', function() {
            document.location.reload();
        });

        {{#if user.options.showDraftStats}}
        var draftStats = document.getElementById('draftStats');
        draftStats.cols = [{type: 'string', label: 'Outcome'}, {type: 'number', label: 'Occurrences'}]
        draftStats.rows = {{{toJSON draftStats}}};
        draftStats.options = {backgroundColor: 'rgba(0, 0, 0, 0.5)'};
        {{/if}}

        var ratingHistory = document.getElementById('ratingHistory');
        ratingHistory.cols = [{type: 'datetime', label: 'Date'}, {type: 'string', role: 'tooltip'}, {type: 'number', label: 'Rating'}, {type: 'number', role: 'interval'}, {type: 'number', role: 'interval'}]
        ratingHistory.rows = [{{#each ratings}}[new Date('{{date}}'), '<a href="/game/{{game}}">Game</a>', {{mean}}, {{lowerBound}}, {{upperBound}}],{{/each}}];
        ratingHistory.options = {backgroundColor: 'rgba(0, 0, 0, 0.5)', tooltip: {isHtml: true}};
    </script>

    {{/body}}

</html>
