<!doctype html>

<html>

    {{#> head title=user.alias }}
    <link rel="import" href="/components/google-chart/google-chart.html">
    <link rel="import" href="/components/paper-button/paper-button.html">
    <link rel="import" href="/components/paper-styles/color.html">

    <link rel="import" href="/elements/pugchamp-game-summary/pugchamp-game-summary.html">

    <style is="custom-style">
        .button {
            color: inherit;
            text-decoration: none;
        }

        .link {
            background: var(--accent-color);
            color: var(--light-theme-text-color);
        }

        #steam {
            background: var(--paper-grey-900);
            color: var(--dark-theme-text-color);
        }

        #ratingHistory {
            width: 100%;
        }
    </style>
    {{/head}}

    {{#> body}}
    <h1>{{user.alias}}</h1>

    <a class="button" href="https://steamcommunity.com/profiles/{{user.steamID}}"><paper-button class="link" id="steam" raised>Steam Profile</paper-button></a>
	<a class="button" href="http://logs.tf/profile/{{user.steamID}}"><paper-button class="link" raised>Logs.tf Profile</paper-button></a>

    <p>
        <strong>Player Rating:</strong>

        {{#if user.currentRating}}
            {{round user.currentRating.after.rating 0}} &plusmn;{{round user.currentRating.after.deviation 0}}
        {{else}}
            N/A
        {{/if}}
    </p>

    <p>
        <strong>Captain Score:</strong>

        {{#if user.captainScore.low}}
            {{round user.captainScore.low 3}}
        {{else}}
            N/A
        {{/if}}
    </p>

    {{#if user.options.showDraftStats}}
    <h2>Draft Stats</h2>

    <google-chart id="draftStats" type="pie"></google-chart>
    {{/if}}

    <h2>Rating History</h2>

    <google-chart id="ratingHistory" type="line"></google-chart>

    <h2>Games</h2>

    {{#each games}}
        <paper-game-summary game="{{toJSON(this)}}"></paper-game-summary>
    {{/each}}

    <script>
        {{#if user.options.showDraftStats}}
        var draftStats = document.getElementById('draftStats');
        draftStats.cols = [{type: 'string', label: 'Outcome'}, {type: 'number', label: 'Occurrences'}]
        draftStats.rows = {{{toJSON draftStats}}};
        {{/if}}

        var ratingHistory = document.getElementById('ratingHistory');
        ratingHistory.cols = [{type: 'datetime', label: 'Date'}, {type: 'string', role: 'tooltip'}, {type: 'number', label: 'Rating'}, {type: 'number', role: 'interval'}, {type: 'number', role: 'interval'}]
        ratingHistory.rows = [{{#each ratings}}[new Date('{{date}}'), '<a href="/game/{{game}}">Game</a>', {{mean}}, {{lowerBound}}, {{upperBound}}],{{/each}}];
        ratingHistory.options = {tooltip: {isHtml: true}};
    </script>

    {{/body}}

</html>
